/* default css */
@import "reset.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Nanum+Pen+Script&display=swap');

/* css */
@import "index.css";
@import "login.css";
@import "mypage.css";
@import "status.css";
@import "listpage.css";
@import "signup.css";
@import "register.css";

body {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kalam', cursive;
    font-family: 'Nanum Pen Script', cursive;
    height: 100vh;
    background-color: #D9D9D9;
    width: 600px;
    justify-content: center;
    margin: 0 auto;
}

.status-bar {
    z-index: 99;
}